* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    min-width: 340px;
    min-height: 100vh;
}

.background {
    background-image: url(img/Meereen.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.header {
    height: 20vh;
    padding: 2em;
    box-shadow: 0px 0px 10px 2px #000000;
    background: rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 740px) {
    .header {
        padding: 1em;
        height: auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
    font-weight: 500;
}

.links {
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

.container {
    background: rgba(0, 0, 0, 0.2);
    min-height: 80vh;
}

.books {
    display: flex;
}

.select-book {
    width: 20%;
    text-align: center;
    padding: 0.5em;
    box-shadow: 0px 0px 10px 2px #000000;
}

.select-book:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.list-container {
    width: 80%;
}

.list {
    width: 100%;
    list-style-type: none;
    display: flex;
}

.list__item {
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #000000;
    font-weight: 600;
    width: 20%;
}

.list__item:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.content {
    margin: auto;
    width: 80%;
    padding: 2em;
}

.book-info-container {
    display: flex;
    justify-content: left;
}

.book-info {
    width: 40%;
}

#book-img {
    width: 50%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
}

#book-name {
    margin-bottom: 1em;
}

.info {
    margin-bottom: 1em;
}

b {
    text-decoration: underline #ffffff;
}

@media all and (max-width: 700px) {
    .container {
        display: flex;
        height: min-content;
    }
    .books {
        width: 40%;
        flex-direction: column;
    }
    .select-book {
        width: 100%;
    }
    .list-container {
        width: 100%;
    }
    .list {
        flex-direction: column;
    }
    .list__item {
        width: 100%;
        height: 15vh;
    }
    .content {
        margin: 0;
        padding: 1em;
        width: 60%;
    }
    #book-name {
        text-align: center;
    }
    .book-info-container {
        flex-direction: column;
    }
    .book-info {
        width: 100%;
    }
    #book-img {
        width: 100%;
    }
}