* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    background-image: url(img/Westeros.jpg);
    background-size: cover;
    min-width: 410px;
}

.header {
    height: 20vh;
    padding: 2em;
    box-shadow: 0px 0px 10px 2px #000000;
    background: rgba(0, 0, 0, 0.4);
}

@media all and (max-width: 740px) {
    .header {
        padding: 1em;
        height: auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
    font-weight: 500;
}

.links {
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    min-height: 80vh;
}

.characters {
    display: flex;
}

.select-characters {
    text-align: center;
    padding: 1em;
    box-shadow: 0px 0px 10px 2px #000000;
}

.select-characters:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.list-container {
    width: 20%;
}

.list {
    list-style-type: none;
}

.list__item {
    width: 100%;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #000000;
    font-weight: 600;
}

@media all and (max-width: 725px) {
    .list__item {
        padding: 1em 0.5em;
    }
}

.list__item:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.content {
    width: 60%;
    padding: 2em;
    padding-bottom: 0;
}

.character-info-container {
    display: flex;
}

.character-info {
    width: 75%;
}

#character-img {
    width: 50%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#character-name {
    margin-bottom: 1em;
}

@media all and (max-width: 725px) {
    .character-info-container {
        flex-direction: column;
    }
    .character-info {
        width: 100%;
        order: 2;
    }
    #character-img {
        width: 100%;
        height: 30vh;
        order: 1;
        margin-bottom: 1em;
    }
    #character-name {
        text-align: center;
    }
}

.info {
    margin-bottom: 1em;
}

b {
    text-decoration: underline #ffffff;
}

@media all and (max-width: 575px) {
    .characters {
        flex-direction: column;
    }
    .list-container {
        width: 100%;
    }
    .list {
        display: flex;
        width: 100%;
    }
    .list__item {
        width: 25%;
    }
    #list-left-1 {
        order: 1;
    }
    #list-left-2 {
        order: 2;
    }
    #list-right-1 {
        order: 3;
    }
    #list-right-2 {
        order: 4;
    }
    .content {
        order: 5;
        width: 100%;
    }
}

@media all and (max-width: 470px) {
    .list__item {
        padding: 1em 0.25em;
    }
}