* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    min-width: 370px;
    min-height: 100vh;
}

.background {
    background-image: url(img/Blackwater.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.header {
    height: 20vh;
    padding: 2em;
    box-shadow: 0px 0px 10px 2px #000000;
    background: rgba(0, 0, 0, 0.4);
}

@media all and (max-width: 740px) {
    .header {
        padding: 1em;
        height: auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
    font-weight: 500;
}

.links {
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

.container {
    display: flex;
    min-height: 80vh;
    background: rgba(0, 0, 0, 0.4);
}

.aside {
    width: 20%;
    box-shadow: 0px 0px 10px 2px #000000;
}

.select-house {
    text-align: center;
    padding: 1em;
    box-shadow: 0px 0px 10px 2px #000000;
}

.select-house:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.list {
    width: 100%;
    list-style-type: none;
}

.list__item {
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #000000;
    font-weight: 600;
}

@media all and (max-width: 760px) {
    .aside {
        width: 30%;
    }
    .select-house {
        padding: 0.5em;
    }
    .list__item {
        padding: 1em 0.5em;
    }
}

.list__item:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.content {
    width: 80%;
    box-shadow: 0px 0px 10px 2px #000000;
}

#house-name {
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
}

.house-info-container {
    display: flex;
}

@media all and (max-width: 760px) {}

.house-info {
    padding: 0 2em;
    width: 75%;
}

#house-img {
    width: 40%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (max-width: 760px) {
    .content {
        width: 70%;
    }
    #house-name {
        padding: 0.5em;
    }
    .house-info-container {
        flex-direction: column;
    }
    .house-info {
        width: 100%;
        order: 2;
    }
    #house-img {
        width: 100%;
        order: 1;
        margin-bottom: 1em;
    }
}

.info {
    margin-bottom: 1em;
}

b {
    text-decoration: underline #ffffff;
}