*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: #ffffff;
}
body{
    background-image: url(img/Westeros.jpg);
    background-size: cover;
    background-position-y: -8em;
}
.header{
    height: 20vh;
    padding: 2em;
    box-shadow: 0px 0px 10px 2px #000000;
    background: rgba(0, 0, 0, 0.4);
}
.link{
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
    font-weight: 500;
}
.container{
    background: rgba(0, 0, 0, 0.4);
    min-height: 80vh;
}
.characters{
    display: flex;
}
.select-characters{
    width: 20%;
    text-align: center;
    padding: 1em;
    box-shadow: 0px 0px 10px 2px #000000;
}
.select-characters:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}
.list-container{
    width: 80%;
}
.list{
    width: 100%;
    list-style-type: none;
    display: flex;
}
.list__item{
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #000000;
    font-weight: 600;
    width: 17.5%;
}
.list__item:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}
.content{
    margin: auto;
    width: 80%;
    padding: 2em;
}
.character-info-container{
    display: flex;
}
.character-info{
    width: 75%;
}
#character-img{
    width: 50%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#character-name{
    text-align: center;
}
.info{
    margin-bottom: 1em;
}
b{
    text-decoration: underline #ffffff;
}