*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
    color: #ffffff;
}
.bg-index{
    background-image: url(img/Robert\ and\ Rhaegar.jpg);
    background-size: cover;
    background-position-y: -4em;
}
.header{
    height: 20vh;
    padding: 2em;
    box-shadow: 0px 0px 10px 2px #000000;
}
#no-shadow{
    box-shadow: none;
}
.link{
    font-size: 2.5rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
    font-weight: 500;
}

.index-main{
    height: 80vh;
    padding: 2em;
    padding-top: 6em;
}

.container{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    text-align: center;
    height: 60vh;
    opacity: 0;
    box-shadow: 0px 0px 10px 2px #000000;
    animation: enter 2s ease-in-out forwards;
}
@keyframes enter {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.card-body{
    background-size: cover;
    height: 50vh;
}
.card-footer{
    height: 10vh;
    padding: 0.5em;
    padding-top: 1em;
    background-color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.card-text{
    text-decoration: none;
}

#houses{
    background-image: url(img/Winterfell.jpg);
}
#characters{
    background-image: url(img/Daenerys.jpg);
}
#books{
    background-image: url(img/Drogon.jpg);
    background-position-y: center;
    background-position-x: -8em;
}

.bg-houses{
    background-image: url(img/Blackwater.jpg);
    background-size: cover;
}
.content-container{
    display: flex;
    min-height: 80vh;
}
.aside{
    width: 20%;
    box-shadow: 0px 0px 10px 2px #000000;
}
.select-house{
    text-align: center;
    padding: 1em;
    box-shadow: 0px 0px 10px 2px #000000;
}
.select-house:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}
.list-houses{
    width: 100%;
    list-style-type: none;
}
.list-houses__item{
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #000000;
    font-weight: 600;
}
.list-houses__item:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}
.content{
    width: 80%;
    box-shadow: 0px 0px 10px 2px #000000;
}
#houseName{
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
}
.house-info-container{
    display: flex;
}
.houseInfo{
    padding: 0 2em;
    width: 75%;
}
#houseImg{
    width: 40%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info{
    margin-bottom: 1em;
}
b{
    text-decoration: underline #ffffff;
}